<div class="toolbar" role="banner">
  <img
    class="img"
    alt="Angular Logo"
    src="assets/images/logoa.png"
  />
  <span>
    <h2> Kuda Oya Maha Vidyalaya </h2>
  </span>
</div>
<br><br><br>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light tab-content">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown nav-changes-styles">
              <a class="nav-link dropdown-toggle nav-bar-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About School
              </a>
              <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                <div class="row">
                  <div class="col-md-3">
                    <a class="dropdown-item" class="textStyles" routerLink="/home">History</a>
                  </div>
                  <div class="col-md-3">
                    <a class="dropdown-item" class="textStyles" routerLink="/home">Mehewara</a>
                  </div>
                  <div class="col-md-3">
                    <a class="dropdown-item"  class="textStyles"routerLink="/home">School Song</a>
                  </div>
                  <div class="col-md-3">
                    <a class="dropdown-item" class="textStyles" routerLink="/home">Student Details</a>
                  </div>
                </div>

              </div>
            </li>
            <li class="nav-item dropdown nav-changes-styles">
              <a class="nav-link dropdown-toggle nav-bar-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Academics
              </a>
              <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                <div class="row">
                  <div class="col-md-3">
                    <a class="dropdown-item" class="textStyles" routerLink="/home">Past Papers</a>
                  </div>
                  <div class="col-md-3">
                    <a class="dropdown-item" class="textStyles" routerLink="/home">Results</a>
                  </div>
                  <div class="col-md-3">
                    <a class="dropdown-item"  class="textStyles"routerLink="/home">Academic Staff</a>
                  </div>
                  <div class="col-md-3">
                    <a class="dropdown-item" class="textStyles" routerLink="/home">Admissions</a>
                  </div>
                </div>

              </div>
            </li>
            <li class="nav-item dropdown nav-changes-styles">
              <a class="nav-link dropdown-toggle nav-bar-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Media
              </a>
              <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                <div class="row">
                  <div class="col-md-4">
                    <p  class="textStyles">Students Creations</p>
                    <a class="dropdown-item" routerLink="/home">Portrait</a>
                    <a class="dropdown-item" routerLink="#">Poem</a>
                    <a class="dropdown-item" routerLink="/home">Innovation</a>
                  </div>
                </div>

              </div>
            </li>
            <li class="nav-item dropdown nav-changes-styles">
              <a class="nav-link dropdown-toggle nav-bar-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Announcements
              </a>
              <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                <div class="row">
                  <div class="col-md-4">
                    <h5  style="color: rgb(54, 121, 197);font-weight: bold;">Curative Services</h5>
                    <a class="dropdown-item" routerLink="/home">Base Hospital</a>
                    <a class="dropdown-item" routerLink="#">Division Hospital</a>
                    <div>
                      <ul>
                        <a class="dropdown-item" routerLink="/home">A Type</a>
                        <a class="dropdown-item" routerLink="/home">B Type</a>
                        <a class="dropdown-item" routerLink="/home">C Type</a>
                      </ul>
                    </div>
                    <a class="dropdown-item" routerLink="/home">Primary Hospital</a>
                  </div>
                  <div class="col-md-4">
                    <h5 style="color: rgb(54, 121, 197);font-weight: bold;">Preventive Services</h5>
                    <a class="dropdown-item" routerLink="/home">MOH Office</a>
                  </div>
                  <div class="col-md-4">
                    <h5 style="color: rgb(54, 121, 197);font-weight: bold;">Special Campaigns</h5>
                    <a class="dropdown-item" routerLink="/home">Anti Rabies Unit</a>
                  </div>

                </div>

              </div>
            </li>
            <li class="nav-item dropdown nav-changes-styles">
              <a class="nav-link dropdown-toggle nav-bar-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events
              </a>
              <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                <div class="row">
                  <div class="col-md-3">
                    <a class="dropdown-item" class="textStyles" routerLink="/home">History</a>
                  </div>
                  <div class="col-md-3">
                    <a class="dropdown-item" class="textStyles" routerLink="/home">Mehewara</a>
                  </div>
                  <div class="col-md-3">
                    <a class="dropdown-item"  class="textStyles"routerLink="/home">School Song</a>
                  </div>
                </div>

              </div>
            </li>
          </ul>
        </div>

  </nav>
</div>
