.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #14193fed;
  color: white;
  font-weight: 600;
  z-index: 1;
  /*background-image: linear-gradient(to bottom right, #908f63, #beb86e, #d2c75a,#9e913a);*/
}

.img{
  width: 50px;
  margin: 2%;
}

.bg-light {
  background-color:#b2b2c9!important;
}
.dropdown:hover>.dropdown-menu{
  display: block;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(7 4 4);
}

.navbar .nav-item .dropdown-menu  .dropdown-item:hover{
  color: rgb(227, 240, 245) !important;
  background-color:#14193fed;
  opacity: 0.5;
}
a {
  color: #0a0a0b !important;
  text-decoration: none;
  background-color: transparent;
}
.h2, h2 {
  font-size: 1.5rem;
}
.mega-menu{
  width:671px;
  overflow: hidden;
  padding: 10px;
  background-color: #b2b2c9;
  margin: 0;
  margin-top: 7px;

}
.textStyles {
  color: rgb(0, 4, 9);
  font-weight: bold;
  margin-left: 22px;
  font-size: 13.6px;
}

.nav-bar-text {
  color: #14193fed;
  font-weight: bold;
}
/*@media (min-width: 992px)*/
/*  .navbar-expand-lg .navbar-nav .dropdown-menu {*/
/*    position: absolute;*/
/*    margin-top: 7px*/
/*  ;*/
/*  }*/
.navbar-light[_ngcontent-ejb-c18] .navbar-nav[_ngcontent-ejb-c18] .nav-link[_ngcontent-ejb-c18] {
  color: rgb(7 4 4) ;
  margin-left: 64px !important;
}
.nav-changes-styles{
  margin-left: 86px !important;
}
